:root {
    --primary-color: rgb(240, 250, 242);
    --accent1-color: rgb(22, 22, 172, 0.7);
    --accent2-color: rgb(0, 132, 240, 0.9);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 211, 212);
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 100px;
    height: auto;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: white;
}

.hero article {
    position: absolute;
    top: 370px;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
    float: right;
    width: 200px;
    box-shadow: 0 0  10px 1px blue;
}