:root {
    --primary-color: rgb(240, 250, 242);
    --accent1-color: rgb(22, 22, 172, 0.7);
    --accent2-color: #000cb8;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}



h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: white;
}

.hero article {
    position: absolute;
    top: 370px;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
    float: right;
    width: 200px;
    box-shadow: 0 0  10px 1px blue;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

section img {
    display: grid;
    grid-template-columns: center;
    max-width: 300px;
    height: auto;
    margin: 1rem 0;
}

.history-grid{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
}


.adventure-images {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    gap: 20px;
}   

figure img {
    width: 180px;
    height: auto;
}