/*Class Selectors:*/
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightblue;
    color:black;
    overflow: auto;
}
.col1 img{
    float: right;
    margin: 10px;
    box-shadow: 0 0 30px #777;
}

* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

:root {
    --color: lightblue;
    --border-first: 1px solid black;
    --border-second: 2px solid black;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1{
    color: black;
}

p{
    padding: 0;
}

aside {
    width: 700px;
    text-align: center;
}
aside img {
        width: 250px;
        height: auto;
    }

aside h2 {
  position: relative;
  top: 30px;
  left: 5px;
}

main img{
    width:200px;
    height: auto;
    border: var(--border-first);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

    footer {
        margin-top: 20px;
        border-top: var(--border-second);
        border-bottom: var(--border-second);
        background-color: #eee;
        text-align: center;
    }
