:root {
    --color: darkblue;
    --border-first: 1px solid black;
    --border-second: 2px solid black;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--color);
}

p{
    padding: 0;
}

aside {
    width: 700px;
    margin: 10px;
    border: var(--border-first);
    background-color: #eeeeee79;
    padding: 10px;
    color: black;
    text-align: center;
}
aside img {
        width: 200px;
        height: auto;
    }

aside h2 {
  position: relative;
  top: 30px;
  left: 5px;
}

main img{
    width:200px;
    height: auto;
    border: var(--border-first);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

    footer {
        margin-top: 20px;
        border-top: var(--border-second);
        border-bottom: var(--border-second);
        background-color: #eee;
        text-align: center;
    }