/*Class Selectors:*/
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightblue;
    color:black;
    overflow: auto;
}
.col1 img{
    float: right;
    margin: 10px;
    box-shadow: 0 0 30px #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: lightblue;
    --border-first: 1px solid black;
    --border-second: 2px solid black;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

nav {
    background-color: var(--color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1{
    color: black;
    bottom: 10px;
}

p{
    padding: 0;
}

aside {
    width: 100%;
    max-width: 700px;
    text-align: center;
}
aside img {
        width: 250px;
        height: auto;
    }

aside h2 {
  position: relative;
  top: 30px;
  left: 5px;
}

main img{
    width:200px;
    height: auto;
    border: var(--border-first);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 20px;
    border-top: var(--border-second);
    border-bottom: var(--border-second);
    background-color: #eee;
    text-align: center;
    }

