main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

p{
    padding: 0;
}

aside {
    width: 700px;
    margin: 10px;
    border: 1px solid black;
    background-color: #eeeeee79;
    padding: 10px;
    color: black;
    text-align: center;
}
aside img {
        width: 200px;
        height: auto;
    }

main image{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

    footer {
        margin-top: 20px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background-color: #eee;
        text-align: center;
    }